<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ANTTWEAKBAR_116_OGLCORE_GLFW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CG_UFPel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GLEW_190.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>GLFW_303.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>assimp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>zlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11DB4B8D59B647A9938A320A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15EBCF9F80294647AE7A25C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4665F3CF539844168170DA51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>542ACF96DBE9473EB6377D48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84A52539EA884D2B9CA81C75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A413DFD62D641E7B6E05F4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB9686FBB8FA48AEADCD130C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDF023A047324E2B8F092550</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3533062995C4241AE85DBA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
